@font-face {
  font-family: 'corporate-logo';
  font-weight: bold;
  src: url('./fonts/logotypejp_mp_b_1.1.ttf') format('OpenType');
  font-display: swap;
}
@font-face {
  font-family: 'corporate-logo';
  font-weight: normal;
  src: url('./fonts/logotypejp_mp_m_1.1.ttf') format('OpenType');
  font-display: swap;
}

body,
html {
  margin: 0;
  color: #414042;
  background-color: #F6F6F6;
  font-family: 'corporate-logo', "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2em;
}

hr {
  width: 90%;
  border-width: 1.5px;
  border-style: solid;
  border-color: #939598;
}

img.logo {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.head {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.head h2 {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  line-height: 3em;
  float: left;
}

.head .arrow-wrap-l,
.head .arrow-wrap-r {
  height: 1.5em;
  margin: 3em 0;
  position: absolute;
  overflow: hidden;
}

.head .arrow-wrap-l {
  left: 0;
}

.head .arrow-wrap-r {
  right: 0;
}

.head img {
  width: 100%;
  height: 100%;
}

/* article */
article {
  width: 90%;
  margin: 0 auto;
}

.events p {
  display: inline-block;
  font-size: 1.5em;
}

.events .time {
  width: 120px;
  margin-right: 10px;
}

.events p.time {
  font-weight: bold;
}

.transfer .by{
  margin-left: 150px;
  padding-left: 15px;
  border-left: 2px #939598 solid;
}

.transfer .by p {
  font-size: 1.2em;
  display: inline-block;
}

.transfer .by img {
  height: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.meal {
  margin-left: 130px;
}

.meal p {
  font-size: 1.2em;
  display: inline-block;
}

.meal img {
  height: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
